<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
          "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
		<typeAlias type="com.kosmos.board.vo.KosmosBoardVO" alias="boardVO"/>
		<typeAlias type="com.kosmos.rboard.vo.KosmosRboardVO" alias="rboardVO"/>
		<typeAlias type="com.kosmos.notice.vo.KosmosNoticeVO" alias="noticeVO"/>
		<typeAlias type="com.kosmos.subject.vo.KosmosSubjectVO" alias="subjectVO"/>
		<typeAlias type="com.kosmos.sugang.vo.KosmosSugangVO" alias="sugangVO"/>
    <typeAlias type="com.kosmos.sugang.vo.KosmosSugangSubjectVO" alias="kosmosSugangSubjectVO"/>
    <typeAlias type="com.kosmos.sugang.vo.KosmosSugangListVO" alias="kosmosSugangListVO"/>
		<typeAlias type="com.kosmos.login.vo.KosmosLoginVO" alias="loginVO"/>
		<typeAlias type="com.kosmos.mypage.vo.KosmosMypageVO" alias="mypageVO"/>		
		<typeAlias type="com.kosmos.login.vo.TempAuthNumVO" alias="authnumVO"/>	
		<typeAlias type="com.kosmos.login.vo.TempPwVO" alias="pwVO"/>
		<typeAlias type="com.kosmos.school.vo.KosmosSchoolVO" alias="SchoolVO"/>
		<typeAlias type="com.kosmos.member.student.vo.KosmosMemberVO" alias="memberVO"/>
		<typeAlias type="com.kosmos.member.teacher.vo.KosmosTeacherVO" alias="teacherVO"/>
	</typeAliases>
</configuration>